.card-box{
    height: 100%;
    width: 100%;
    background-color: #F8F9F9 !important;

}

.card-paper{
    height: 100%;
    padding: 25px;
}

.card-text{
    font-size: 18px;
    margin-bottom: 10px;
}