.navbar{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    align-items: center;
    background-color: blueviolet;

}
.navbar div{
   margin: 0 2rem;
   color: white;
   font-weight: 500;
   font-size: 2rem;
}
.navbar div:hover{
    cursor: pointer;
}